/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

a:hover {
  text-decoration: none;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*Placeholders*/
/*Truncate*/
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example: .element { @include responsive-ratio(400, 300); }
*/
/*
.container-custom {width: 100%;;max-width: none;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}
@media (min-width: 576px) {
  .container-custom {max-width: 540px;}
}

@media (min-width: 768px) {
  .container-custom {max-width: 720px;}
}

@media (min-width: 992px) {
  .container-custom {max-width: 960px;}
}

@media (min-width: 1200px) {
  .container-custom {max-width: 1140px;}
}
.container-fluid-custom {width: 100%;padding-right: 8px;padding-left: 8px;margin-right: auto;margin-left: auto;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
  padding-right: 8px;
  padding-left: 8px;
}
.row {margin-left: -8px;margin-right: -8px}
html, body {height: 100%;}*/
a {
  color: #262626;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #F7A23B;
}

a.color_blue:hover, a.color_link:hover {
  color: #F7A23B;
}

a.color_orange:hover {
  color: #262626;
}

img {
  max-width: 100%;
}

hr {
  border-top: solid 1px #F5F5F5;
  border-bottom: none;
  margin: 10px 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.white_space_nowarp {
  white-space: nowrap;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.text_right {
  text-align: right !important;
}

.color_red {
  color: #F44336 !important;
}

.color_orange {
  color: #F7A23B !important;
}

.color_orange_secondary {
  color: #F7A23B !important;
}

.color_orange_third {
  color: #F7A23B !important;
}

.color_blue {
  color: #0377AE !important;
}

.color_link {
  color: #0377AE !important;
}

.color_gray {
  color: #808285 !important;
}

.color_green {
  color: #7EC362 !important;
}

.color_heart {
  color: #ec1e3c !important;
}

.color_black_01 {
  color: rgba(0, 0, 0, 0.1) !important;
}

.color_black_015 {
  color: rgba(0, 0, 0, 0.15) !important;
}

.color_black_03 {
  color: rgba(0, 0, 0, 0.3) !important;
}

.color_black_06 {
  color: rgba(0, 0, 0, 0.6) !important;
}

.color-rakuten {
  color: #bf2528 !important;
}

.color_purple {
  color: #3F51B5 !important;
}

.fw_light {
  font-weight: 300 !important;
}

.fw_regular {
  font-weight: 400 !important;
}

.fw_normal {
  font-weight: 400 !important;
}

.fw_medium {
  font-weight: 500 !important;
}

.fw_bold {
  font-weight: 700 !important;
}

.font_size_0 {
  font-size: 0 !important;
}

.font_size_xs,
.font_size_12 {
  font-size: 12px !important;
}

.font_size_s,
.font_size_14 {
  font-size: 14px !important;
}

.font_size_m,
.font_size_16 {
  font-size: 16px !important;
}

.font_size_b,
.font_size_18 {
  font-size: 20px !important;
}

.font_size_bb,
.font_size_20 {
  font-size: 36px !important;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.count_box {
  display: flex;
  text-align: center;
}

.count_box a {
  background: #E6E6E6;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #262626;
}

.count_box a:hover {
  color: #F7A23B;
}

.count_box .count_input {
  border: solid 1px #E6E6E6;
  width: 50px;
  text-align: center;
}

.tab_nav_lst {
  background: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}

.tab_nav_lst .tab_item {
  cursor: pointer;
  text-align: center;
  border-bottom: solid 2px transparent;
  display: block;
  padding: 8px;
  flex: 1;
}

.tab_nav_lst .tab_item:hover, .tab_nav_lst .tab_item.active {
  border-bottom-color: #F7A23B;
}

.tab_content {
  width: 100%;
  position: relative;
}

.tab_content_item {
  display: none;
}

.tab_content_item.active {
  display: block;
}

.count_box {
  display: flex;
}

.count_box button {
  background: #E6F7FF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  text-align: center;
}

.count_box button:focus {
  outline: none;
}

.count_box button:hover {
  background: #F7A23B;
  color: white;
  cursor: pointer;
}

.count_box .count_box_input {
  width: 50px;
  font-size: 14px;
  text-align: center;
}

.notes_blue {
  color: #3F51B5;
  font-style: italic;
}

.notes_orange {
  color: #F7A23B;
  font-style: italic;
}

/*
.slick_custom {display: none;
  &.slick-initialized {display: block}
  .slick-slider {margin: 0;padding: 0 0 30px}
  .slick-dotted.slick-slider {margin: 0}
  .slick-dots {bottom: 0;font-size: 0;
    li {width: auto;height: auto;
      button {background: $color-gray;width: 10px;height: 10px;
        @include border-radius(10px);
        @include transition(all .3s ease);
        &::before {font-size: 0;height: 100%}
        &:hover {background: $color-orange-secondary}
      }
      &.slick-active {
        button {width: 20px;background: $color-orange-secondary;}
      }
    }
  }
}
*/
.scroll_mobile_h {
  display: flex !important;
  /* [1] */
  flex-wrap: nowrap !important;
  /* [1] */
  overflow-x: auto !important;
  /* [1] */
  -webkit-overflow-scrolling: touch;
  /* [4] */
  -ms-overflow-style: none;
  /* [5] */
  overflow: -moz-scrollbars-none;
}

.fix_top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.m0, .mt0, .mtl0, .mtr0, .mtb0 {
  margin-top: 0px !important;
}

.m0, .mb0, .mbl0, .mbr0, .mtb0 {
  margin-bottom: 0px !important;
}

.m0, .ml0, .mtl0, .mlr0, .mbl0 {
  margin-left: 0px !important;
}

.m0, .mr0, .mlr0, .mtr0, .mbr0 {
  margin-right: 0px !important;
}

.mx0 {
  padding: 0 0px !important;
}

.my0 {
  padding: 0px 0 !important;
}

.p0, .pt0, .ptl0, .ptr0, .ptb0 {
  padding-top: 0px !important;
}

.p0, .pb0, .pbl0, .pbr0, .ptb0 {
  padding-bottom: 0px !important;
}

.p0, .pl0, .ptl0, .plr0, .pbl0 {
  padding-left: 0px !important;
}

.p0, .pr0, .plr0, .ptr0, .pbr0 {
  padding-right: 0px !important;
}

.px0 {
  padding: 0 0px !important;
}

.py0 {
  padding: 0px 0 !important;
}

.e0 {
  width: calc(100% + (0px * 2)) !important;
}

.el0, .e0 {
  position: relative;
  left: -0px;
}

.el0, .er0 {
  width: calc(100% + 0px) !important;
}

.m4, .mt4, .mtl4, .mtr4, .mtb4 {
  margin-top: 4px !important;
}

.m4, .mb4, .mbl4, .mbr4, .mtb4 {
  margin-bottom: 4px !important;
}

.m4, .ml4, .mtl4, .mlr4, .mbl4 {
  margin-left: 4px !important;
}

.m4, .mr4, .mlr4, .mtr4, .mbr4 {
  margin-right: 4px !important;
}

.mx4 {
  padding: 0 4px !important;
}

.my4 {
  padding: 4px 0 !important;
}

.p4, .pt4, .ptl4, .ptr4, .ptb4 {
  padding-top: 4px !important;
}

.p4, .pb4, .pbl4, .pbr4, .ptb4 {
  padding-bottom: 4px !important;
}

.p4, .pl4, .ptl4, .plr4, .pbl4 {
  padding-left: 4px !important;
}

.p4, .pr4, .plr4, .ptr4, .pbr4 {
  padding-right: 4px !important;
}

.px4 {
  padding: 0 4px !important;
}

.py4 {
  padding: 4px 0 !important;
}

.e4 {
  width: calc(100% + (4px * 2)) !important;
}

.el4, .e4 {
  position: relative;
  left: -4px;
}

.el4, .er4 {
  width: calc(100% + 4px) !important;
}

.m5, .mt5, .mtl5, .mtr5, .mtb5 {
  margin-top: 5px !important;
}

.m5, .mb5, .mbl5, .mbr5, .mtb5 {
  margin-bottom: 5px !important;
}

.m5, .ml5, .mtl5, .mlr5, .mbl5 {
  margin-left: 5px !important;
}

.m5, .mr5, .mlr5, .mtr5, .mbr5 {
  margin-right: 5px !important;
}

.mx5 {
  padding: 0 5px !important;
}

.my5 {
  padding: 5px 0 !important;
}

.p5, .pt5, .ptl5, .ptr5, .ptb5 {
  padding-top: 5px !important;
}

.p5, .pb5, .pbl5, .pbr5, .ptb5 {
  padding-bottom: 5px !important;
}

.p5, .pl5, .ptl5, .plr5, .pbl5 {
  padding-left: 5px !important;
}

.p5, .pr5, .plr5, .ptr5, .pbr5 {
  padding-right: 5px !important;
}

.px5 {
  padding: 0 5px !important;
}

.py5 {
  padding: 5px 0 !important;
}

.e5 {
  width: calc(100% + (5px * 2)) !important;
}

.el5, .e5 {
  position: relative;
  left: -5px;
}

.el5, .er5 {
  width: calc(100% + 5px) !important;
}

.m8, .mt8, .mtl8, .mtr8, .mtb8 {
  margin-top: 8px !important;
}

.m8, .mb8, .mbl8, .mbr8, .mtb8 {
  margin-bottom: 8px !important;
}

.m8, .ml8, .mtl8, .mlr8, .mbl8 {
  margin-left: 8px !important;
}

.m8, .mr8, .mlr8, .mtr8, .mbr8 {
  margin-right: 8px !important;
}

.mx8 {
  padding: 0 8px !important;
}

.my8 {
  padding: 8px 0 !important;
}

.p8, .pt8, .ptl8, .ptr8, .ptb8 {
  padding-top: 8px !important;
}

.p8, .pb8, .pbl8, .pbr8, .ptb8 {
  padding-bottom: 8px !important;
}

.p8, .pl8, .ptl8, .plr8, .pbl8 {
  padding-left: 8px !important;
}

.p8, .pr8, .plr8, .ptr8, .pbr8 {
  padding-right: 8px !important;
}

.px8 {
  padding: 0 8px !important;
}

.py8 {
  padding: 8px 0 !important;
}

.e8 {
  width: calc(100% + (8px * 2)) !important;
}

.el8, .e8 {
  position: relative;
  left: -8px;
}

.el8, .er8 {
  width: calc(100% + 8px) !important;
}

.m10, .mt10, .mtl10, .mtr10, .mtb10 {
  margin-top: 10px !important;
}

.m10, .mb10, .mbl10, .mbr10, .mtb10 {
  margin-bottom: 10px !important;
}

.m10, .ml10, .mtl10, .mlr10, .mbl10 {
  margin-left: 10px !important;
}

.m10, .mr10, .mlr10, .mtr10, .mbr10 {
  margin-right: 10px !important;
}

.mx10 {
  padding: 0 10px !important;
}

.my10 {
  padding: 10px 0 !important;
}

.p10, .pt10, .ptl10, .ptr10, .ptb10 {
  padding-top: 10px !important;
}

.p10, .pb10, .pbl10, .pbr10, .ptb10 {
  padding-bottom: 10px !important;
}

.p10, .pl10, .ptl10, .plr10, .pbl10 {
  padding-left: 10px !important;
}

.p10, .pr10, .plr10, .ptr10, .pbr10 {
  padding-right: 10px !important;
}

.px10 {
  padding: 0 10px !important;
}

.py10 {
  padding: 10px 0 !important;
}

.e10 {
  width: calc(100% + (10px * 2)) !important;
}

.el10, .e10 {
  position: relative;
  left: -10px;
}

.el10, .er10 {
  width: calc(100% + 10px) !important;
}

.m12, .mt12, .mtl12, .mtr12, .mtb12 {
  margin-top: 12px !important;
}

.m12, .mb12, .mbl12, .mbr12, .mtb12 {
  margin-bottom: 12px !important;
}

.m12, .ml12, .mtl12, .mlr12, .mbl12 {
  margin-left: 12px !important;
}

.m12, .mr12, .mlr12, .mtr12, .mbr12 {
  margin-right: 12px !important;
}

.mx12 {
  padding: 0 12px !important;
}

.my12 {
  padding: 12px 0 !important;
}

.p12, .pt12, .ptl12, .ptr12, .ptb12 {
  padding-top: 12px !important;
}

.p12, .pb12, .pbl12, .pbr12, .ptb12 {
  padding-bottom: 12px !important;
}

.p12, .pl12, .ptl12, .plr12, .pbl12 {
  padding-left: 12px !important;
}

.p12, .pr12, .plr12, .ptr12, .pbr12 {
  padding-right: 12px !important;
}

.px12 {
  padding: 0 12px !important;
}

.py12 {
  padding: 12px 0 !important;
}

.e12 {
  width: calc(100% + (12px * 2)) !important;
}

.el12, .e12 {
  position: relative;
  left: -12px;
}

.el12, .er12 {
  width: calc(100% + 12px) !important;
}

.m15, .mt15, .mtl15, .mtr15, .mtb15 {
  margin-top: 15px !important;
}

.m15, .mb15, .mbl15, .mbr15, .mtb15 {
  margin-bottom: 15px !important;
}

.m15, .ml15, .mtl15, .mlr15, .mbl15 {
  margin-left: 15px !important;
}

.m15, .mr15, .mlr15, .mtr15, .mbr15 {
  margin-right: 15px !important;
}

.mx15 {
  padding: 0 15px !important;
}

.my15 {
  padding: 15px 0 !important;
}

.p15, .pt15, .ptl15, .ptr15, .ptb15 {
  padding-top: 15px !important;
}

.p15, .pb15, .pbl15, .pbr15, .ptb15 {
  padding-bottom: 15px !important;
}

.p15, .pl15, .ptl15, .plr15, .pbl15 {
  padding-left: 15px !important;
}

.p15, .pr15, .plr15, .ptr15, .pbr15 {
  padding-right: 15px !important;
}

.px15 {
  padding: 0 15px !important;
}

.py15 {
  padding: 15px 0 !important;
}

.e15 {
  width: calc(100% + (15px * 2)) !important;
}

.el15, .e15 {
  position: relative;
  left: -15px;
}

.el15, .er15 {
  width: calc(100% + 15px) !important;
}

.m20, .mt20, .mtl20, .mtr20, .mtb20 {
  margin-top: 20px !important;
}

.m20, .mb20, .mbl20, .mbr20, .mtb20 {
  margin-bottom: 20px !important;
}

.m20, .ml20, .mtl20, .mlr20, .mbl20 {
  margin-left: 20px !important;
}

.m20, .mr20, .mlr20, .mtr20, .mbr20 {
  margin-right: 20px !important;
}

.mx20 {
  padding: 0 20px !important;
}

.my20 {
  padding: 20px 0 !important;
}

.p20, .pt20, .ptl20, .ptr20, .ptb20 {
  padding-top: 20px !important;
}

.p20, .pb20, .pbl20, .pbr20, .ptb20 {
  padding-bottom: 20px !important;
}

.p20, .pl20, .ptl20, .plr20, .pbl20 {
  padding-left: 20px !important;
}

.p20, .pr20, .plr20, .ptr20, .pbr20 {
  padding-right: 20px !important;
}

.px20 {
  padding: 0 20px !important;
}

.py20 {
  padding: 20px 0 !important;
}

.e20 {
  width: calc(100% + (20px * 2)) !important;
}

.el20, .e20 {
  position: relative;
  left: -20px;
}

.el20, .er20 {
  width: calc(100% + 20px) !important;
}

.m25, .mt25, .mtl25, .mtr25, .mtb25 {
  margin-top: 25px !important;
}

.m25, .mb25, .mbl25, .mbr25, .mtb25 {
  margin-bottom: 25px !important;
}

.m25, .ml25, .mtl25, .mlr25, .mbl25 {
  margin-left: 25px !important;
}

.m25, .mr25, .mlr25, .mtr25, .mbr25 {
  margin-right: 25px !important;
}

.mx25 {
  padding: 0 25px !important;
}

.my25 {
  padding: 25px 0 !important;
}

.p25, .pt25, .ptl25, .ptr25, .ptb25 {
  padding-top: 25px !important;
}

.p25, .pb25, .pbl25, .pbr25, .ptb25 {
  padding-bottom: 25px !important;
}

.p25, .pl25, .ptl25, .plr25, .pbl25 {
  padding-left: 25px !important;
}

.p25, .pr25, .plr25, .ptr25, .pbr25 {
  padding-right: 25px !important;
}

.px25 {
  padding: 0 25px !important;
}

.py25 {
  padding: 25px 0 !important;
}

.e25 {
  width: calc(100% + (25px * 2)) !important;
}

.el25, .e25 {
  position: relative;
  left: -25px;
}

.el25, .er25 {
  width: calc(100% + 25px) !important;
}

.m30, .mt30, .mtl30, .mtr30, .mtb30 {
  margin-top: 30px !important;
}

.m30, .mb30, .mbl30, .mbr30, .mtb30 {
  margin-bottom: 30px !important;
}

.m30, .ml30, .mtl30, .mlr30, .mbl30 {
  margin-left: 30px !important;
}

.m30, .mr30, .mlr30, .mtr30, .mbr30 {
  margin-right: 30px !important;
}

.mx30 {
  padding: 0 30px !important;
}

.my30 {
  padding: 30px 0 !important;
}

.p30, .pt30, .ptl30, .ptr30, .ptb30 {
  padding-top: 30px !important;
}

.p30, .pb30, .pbl30, .pbr30, .ptb30 {
  padding-bottom: 30px !important;
}

.p30, .pl30, .ptl30, .plr30, .pbl30 {
  padding-left: 30px !important;
}

.p30, .pr30, .plr30, .ptr30, .pbr30 {
  padding-right: 30px !important;
}

.px30 {
  padding: 0 30px !important;
}

.py30 {
  padding: 30px 0 !important;
}

.e30 {
  width: calc(100% + (30px * 2)) !important;
}

.el30, .e30 {
  position: relative;
  left: -30px;
}

.el30, .er30 {
  width: calc(100% + 30px) !important;
}

.m35, .mt35, .mtl35, .mtr35, .mtb35 {
  margin-top: 35px !important;
}

.m35, .mb35, .mbl35, .mbr35, .mtb35 {
  margin-bottom: 35px !important;
}

.m35, .ml35, .mtl35, .mlr35, .mbl35 {
  margin-left: 35px !important;
}

.m35, .mr35, .mlr35, .mtr35, .mbr35 {
  margin-right: 35px !important;
}

.mx35 {
  padding: 0 35px !important;
}

.my35 {
  padding: 35px 0 !important;
}

.p35, .pt35, .ptl35, .ptr35, .ptb35 {
  padding-top: 35px !important;
}

.p35, .pb35, .pbl35, .pbr35, .ptb35 {
  padding-bottom: 35px !important;
}

.p35, .pl35, .ptl35, .plr35, .pbl35 {
  padding-left: 35px !important;
}

.p35, .pr35, .plr35, .ptr35, .pbr35 {
  padding-right: 35px !important;
}

.px35 {
  padding: 0 35px !important;
}

.py35 {
  padding: 35px 0 !important;
}

.e35 {
  width: calc(100% + (35px * 2)) !important;
}

.el35, .e35 {
  position: relative;
  left: -35px;
}

.el35, .er35 {
  width: calc(100% + 35px) !important;
}

.m40, .mt40, .mtl40, .mtr40, .mtb40 {
  margin-top: 40px !important;
}

.m40, .mb40, .mbl40, .mbr40, .mtb40 {
  margin-bottom: 40px !important;
}

.m40, .ml40, .mtl40, .mlr40, .mbl40 {
  margin-left: 40px !important;
}

.m40, .mr40, .mlr40, .mtr40, .mbr40 {
  margin-right: 40px !important;
}

.mx40 {
  padding: 0 40px !important;
}

.my40 {
  padding: 40px 0 !important;
}

.p40, .pt40, .ptl40, .ptr40, .ptb40 {
  padding-top: 40px !important;
}

.p40, .pb40, .pbl40, .pbr40, .ptb40 {
  padding-bottom: 40px !important;
}

.p40, .pl40, .ptl40, .plr40, .pbl40 {
  padding-left: 40px !important;
}

.p40, .pr40, .plr40, .ptr40, .pbr40 {
  padding-right: 40px !important;
}

.px40 {
  padding: 0 40px !important;
}

.py40 {
  padding: 40px 0 !important;
}

.e40 {
  width: calc(100% + (40px * 2)) !important;
}

.el40, .e40 {
  position: relative;
  left: -40px;
}

.el40, .er40 {
  width: calc(100% + 40px) !important;
}

.m45, .mt45, .mtl45, .mtr45, .mtb45 {
  margin-top: 45px !important;
}

.m45, .mb45, .mbl45, .mbr45, .mtb45 {
  margin-bottom: 45px !important;
}

.m45, .ml45, .mtl45, .mlr45, .mbl45 {
  margin-left: 45px !important;
}

.m45, .mr45, .mlr45, .mtr45, .mbr45 {
  margin-right: 45px !important;
}

.mx45 {
  padding: 0 45px !important;
}

.my45 {
  padding: 45px 0 !important;
}

.p45, .pt45, .ptl45, .ptr45, .ptb45 {
  padding-top: 45px !important;
}

.p45, .pb45, .pbl45, .pbr45, .ptb45 {
  padding-bottom: 45px !important;
}

.p45, .pl45, .ptl45, .plr45, .pbl45 {
  padding-left: 45px !important;
}

.p45, .pr45, .plr45, .ptr45, .pbr45 {
  padding-right: 45px !important;
}

.px45 {
  padding: 0 45px !important;
}

.py45 {
  padding: 45px 0 !important;
}

.e45 {
  width: calc(100% + (45px * 2)) !important;
}

.el45, .e45 {
  position: relative;
  left: -45px;
}

.el45, .er45 {
  width: calc(100% + 45px) !important;
}

.m50, .mt50, .mtl50, .mtr50, .mtb50 {
  margin-top: 50px !important;
}

.m50, .mb50, .mbl50, .mbr50, .mtb50 {
  margin-bottom: 50px !important;
}

.m50, .ml50, .mtl50, .mlr50, .mbl50 {
  margin-left: 50px !important;
}

.m50, .mr50, .mlr50, .mtr50, .mbr50 {
  margin-right: 50px !important;
}

.mx50 {
  padding: 0 50px !important;
}

.my50 {
  padding: 50px 0 !important;
}

.p50, .pt50, .ptl50, .ptr50, .ptb50 {
  padding-top: 50px !important;
}

.p50, .pb50, .pbl50, .pbr50, .ptb50 {
  padding-bottom: 50px !important;
}

.p50, .pl50, .ptl50, .plr50, .pbl50 {
  padding-left: 50px !important;
}

.p50, .pr50, .plr50, .ptr50, .pbr50 {
  padding-right: 50px !important;
}

.px50 {
  padding: 0 50px !important;
}

.py50 {
  padding: 50px 0 !important;
}

.e50 {
  width: calc(100% + (50px * 2)) !important;
}

.el50, .e50 {
  position: relative;
  left: -50px;
}

.el50, .er50 {
  width: calc(100% + 50px) !important;
}

.m100, .mt100, .mtl100, .mtr100, .mtb100 {
  margin-top: 100px !important;
}

.m100, .mb100, .mbl100, .mbr100, .mtb100 {
  margin-bottom: 100px !important;
}

.m100, .ml100, .mtl100, .mlr100, .mbl100 {
  margin-left: 100px !important;
}

.m100, .mr100, .mlr100, .mtr100, .mbr100 {
  margin-right: 100px !important;
}

.mx100 {
  padding: 0 100px !important;
}

.my100 {
  padding: 100px 0 !important;
}

.p100, .pt100, .ptl100, .ptr100, .ptb100 {
  padding-top: 100px !important;
}

.p100, .pb100, .pbl100, .pbr100, .ptb100 {
  padding-bottom: 100px !important;
}

.p100, .pl100, .ptl100, .plr100, .pbl100 {
  padding-left: 100px !important;
}

.p100, .pr100, .plr100, .ptr100, .pbr100 {
  padding-right: 100px !important;
}

.px100 {
  padding: 0 100px !important;
}

.py100 {
  padding: 100px 0 !important;
}

.e100 {
  width: calc(100% + (100px * 2)) !important;
}

.el100, .e100 {
  position: relative;
  left: -100px;
}

.el100, .er100 {
  width: calc(100% + 100px) !important;
}

.form_common {
  display: block;
  width: 100%;
}

.form_common .form_row {
  margin-bottom: 20px;
}

.form_common .form_row.form_error .form_error_text {
  color: #F44336;
  font-size: 10px;
  font-style: italic;
}

.form_common .form_field__group {
  position: relative;
}

.form_common .form_field__group > input {
  padding-right: 32px;
}

.form_common .form_field__group .form_field__icon {
  display: inline-block;
  padding: 8px;
  font-size: 0;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 32px;
  color: #D9D9D9;
}

.form_common .form_field__group .form_field__icon svg {
  width: 100%;
  height: 100%;
}

.form_common .form_label {
  margin-bottom: 8px;
  display: inline-block;
}

.form_common .form_label .require {
  color: #F44336;
}

.form_common .form_textarea {
  resize: none;
  border: solid 1px #D9D9D9;
  padding: 5px 10px;
  box-shadow: none;
  color: #808080;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.form_break_text {
  padding: 5px 0;
  position: relative;
  text-align: center;
  margin: 0 0 15px;
}

.form_break_text::before {
  content: '';
  background: #D9D9D9;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.form_break_text span {
  background: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  color: #8C8C8C;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  outline: none;
}

textarea {
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.option_style {
  font-size: 0;
  margin: 0 8px 0 0;
  display: inline-block;
}

.option_style .option_style_label {
  background: white;
  color: #808080;
  display: block;
  text-align: center;
  outline: none;
  padding: 5px 15px;
  overflow: hidden;
  border: solid 1px #808080;
  cursor: pointer;
  font-size: 12px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.option_style:last-child {
  margin: 0;
}

.option_style .option_style_input {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.option_style .option_style_input:checked + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.option_style .option_style_input:focus + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.option_style .option_style_input:active + .option_style_label {
  border-color: #F7A23B;
  color: #F7A23B;
}

.checkbox_style {
  cursor: pointer;
  font-size: 12px;
}

.checkbox_style input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox_style input:checked {
  border: none;
}

.checkbox_style input:checked + span {
  background: #F7A23B;
}

.checkbox_style input:checked + span svg {
  display: block;
}

.checkbox_style span {
  background: white;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 5px 0 0;
  text-align: center;
  padding: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.checkbox_style span svg {
  width: 100%;
  height: 100%;
  color: white;
  display: none;
}

.checkbox_style span, .checkbox_style input {
  width: 20px;
  height: 20px;
  vertical-align: -6px;
}

.checkbox_style.small span,
.checkbox_style.small input {
  width: 20px;
  height: 20px;
  vertical-align: -6px;
}

.checkbox_style.medium span,
.checkbox_style.medium input {
  width: 24px;
  height: 24px;
  vertical-align: -8px;
}

.checkbox_style.right span {
  margin: 0 0 0 5px;
}

.select_wrap {
  border: solid 1px #D9D9D9;
  position: relative;
  overflow: hidden;
  height: 32px;
  color: #808080;
}

.select_wrap svg {
  width: 15px;
  height: 8px;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.select_wrap:hover {
  border-color: #F7A23B;
}

.select_wrap:hover::after {
  border-top-color: #F7A23B;
}

.select_wrap select.select_common {
  background: white;
  display: block;
  border: none;
  padding: 0 25px 0 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #808080;
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.select_wrap select.select_common:focus {
  cursor: pointer;
  outline: none;
}

.select_wrap.medium {
  height: 34px;
  font-size: 16px;
}

.fieldset_common {
  border: none;
  margin: 0;
  padding: 0;
}

.input_common {
  background: white;
  font-weight: 300;
  min-height: 32px;
  border: solid 1px #D9D9D9;
  outline: none;
  padding: 5px 10px;
  box-shadow: none;
  color: #808080;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input_common:focus {
  box-shadow: none;
  border-color: #F7A23B;
}

.input_common:focus::placeholder {
  color: #8C8C8C;
}

.input_common::placeholder {
  color: #8C8C8C;
}

.input_common.input_common--full {
  display: block;
  width: 100%;
}

.button_primary {
  background: #F7A23B;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 0 10px;
  overflow: hidden;
  border: solid 1px #F7A23B;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button_primary.button_regular {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_primary.button_regular[class*="button_icon_"] svg {
  width: 24px;
  height: 24px;
  vertical-align: -7px;
}

.button_primary.button_large {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_primary.button_large[class*="button_icon_"] svg {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}

.button_primary.button_full {
  display: block;
  width: 100%;
}

.button_primary.disabled, .button_primary:disabled {
  background: #E6E6E6 !important;
  color: #8C8C8C !important;
  border-color: #E6E6E6 !important;
  cursor: auto;
}

.button_primary:hover {
  background: #F7A23B;
  color: white;
}

.button_primary:focus, .button_primary.active, .button_primary:active {
  background: #F7A23B;
  color: white;
}

.button_primary[class*="button_icon_"] svg {
  width: 14px;
  height: 14px;
  vertical-align: -1px;
}

.button_primary.button_icon_left svg {
  margin: 0 5px 0 0;
}

.button_primary.button_icon_right svg {
  margin: 0 0 0 5px;
}

.button_secondary {
  display: inline-block;
  text-align: center;
  outline: none;
  padding: 0 10px;
  overflow: hidden;
  border: solid 1px #F7A23B;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: white;
  color: #F7A23B;
}

.button_secondary.button_regular {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_secondary.button_regular[class*="button_icon_"] svg {
  width: 24px;
  height: 24px;
  vertical-align: -7px;
}

.button_secondary.button_large {
  font-size: 16px;
  min-height: 40px;
  line-height: 40px;
}

.button_secondary.button_large[class*="button_icon_"] svg {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}

.button_secondary.button_full {
  display: block;
  width: 100%;
}

.button_secondary.disabled, .button_secondary:disabled {
  background: #E6E6E6 !important;
  color: #8C8C8C !important;
  border-color: #E6E6E6 !important;
  cursor: auto;
}

.button_secondary:hover {
  background: #F7A23B;
  color: white;
}

.button_secondary:focus, .button_secondary.active, .button_secondary:active {
  background: #F7A23B;
  color: white;
}

.button_secondary[class*="button_icon_"] svg {
  width: 14px;
  height: 14px;
  vertical-align: -1px;
}

.button_secondary.button_icon_left svg {
  margin: 0 5px 0 0;
}

.button_secondary.button_icon_right svg {
  margin: 0 0 0 5px;
}

.table_common {
  width: 100%;
  border-spacing: 0;
}

.table_common tbody td {
  padding: 8px;
}

.table_common.table_striped tr:nth-of-type(odd) td {
  background: #F9F9F9;
}

.login_container {
  height: 100vh;
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.login_row {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_col__left {
  display: none;
}

.login_col__right {
  flex: 1;
}

@media (min-width: 992px) {
  .login_row {
    flex-direction: row;
  }
  .login_col__left {
    width: 340px;
    display: block;
  }
}

.login_slide {
  overflow: hidden;
}

.login_slide .swiper-container {
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.login_slide .swiper-container.swiper-container-initialized {
  display: block;
  opacity: 1;
  visibility: visible;
}

.login_slide .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_slide .swiper-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_slide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #F7A23B;
}

.login_slide__item {
  font-size: 0;
}

.login_slide__img {
  height: 100%;
}

.login_section {
  padding: 15px 15px 0 15px;
}

@media (min-width: 768px) {
  .login_section {
    padding: 50px 50px 0 50px;
  }
}

.login_section__header {
  margin: 0 0 10px;
}

.login_section__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

.login_section__subheader {
  font-size: 12px;
}

.login_form {
  margin: 40px 0 0;
}

.login_btns {
  display: flex;
  flex-direction: column;
}

.login_btns a[class*="login_btn__"] {
  display: block;
  color: white;
  height: 32px;
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_btns a[class*="login_btn__"] svg {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.login_btns a[class*="login_btn__"]:hover {
  opacity: .95;
}

.login_btns a[class*="login_btn__"] + a {
  margin-top: 15px;
}

.login_btns .login_btn__facebook {
  background: #3B5998;
}

.login_btns .login_btn__facebook svg {
  width: 25px;
  height: 16px;
}

.login_btns .login_btn__google {
  background: #D34836;
}

.login_btns .login_btn__google svg {
  width: 16px;
  height: 16px;
}

@media (min-width: 992px) {
  .login_btns {
    flex-direction: row;
    justify-content: space-between;
  }
  .login_btns a[class*="login_btn__"] {
    width: 45%;
    margin: 0 !important;
  }
}

.login_logo {
  margin: 0 0 50px;
  text-align: center;
}

.login_logo a {
  font-size: 0;
  display: inline-block;
  width: 130px;
}

.login_logo a svg {
  width: 100%;
  height: 100%;
}

.login_panel {
  padding: 50px 15px;
  height: 100%;
}

@media (min-width: 768px) {
  .login_panel {
    padding: 50px;
  }
}

.login_panel__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 80px;
}

@media (min-width: 768px) {
  .login_panel__group {
    flex-direction: row;
  }
}

.login_panel__item {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  min-height: 140px;
  margin: 20px 0;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login_panel__item:hover {
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .login_panel__item {
    margin: 0 12px;
  }
}

.login_panel__icon {
  background: #F7A23B;
  margin: 0 auto 16px;
  color: white;
  width: 40px;
  height: 40px;
  display: block;
  padding: 8px;
  font-size: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.login_panel__icon svg {
  width: 100%;
  height: 100%;
}

.language_group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language_item {
  background: #FAFAFA;
  display: flex;
  height: 32px;
  flex: 1 1 32px;
  justify-content: center;
  align-items: center;
  border: solid 1px #F5F5F5;
  max-width: 120px;
  padding: 0 10px;
}

.language_item:hover {
  background: #E6F7FF;
  border-color: #91D5FF;
}

.language_item + a {
  margin: 10px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.language_item svg {
  width: 20px;
  height: 14px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}

@media (min-width: 768px) {
  .language_group {
    flex-direction: row;
    justify-content: center;
  }
  .language_item {
    flex: 1;
  }
  .language_item + a {
    margin: 0 0 0 10px;
  }
}

.signup_container {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .signup_container {
    height: 100vh;
  }
}

.signup_row {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.signup_section {
  padding: 15px 15px 0 15px;
}

@media (min-width: 768px) {
  .signup_section {
    padding: 50px;
  }
}

.signup_form {
  margin: 40px 0 0;
}

.signup_form .form_break_text {
  padding: 5px 0;
  position: relative;
  text-align: center;
  margin: 0 0 15px;
}

.signup_form .form_break_text::before {
  content: '';
  background: #D9D9D9;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.signup_form .form_break_text span {
  background: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  color: #8C8C8C;
}

/*
.form_slide_unlock {
  .slideunlock-wrapper {background: transparent;padding: 0;width: 100%;}
  .slideunlock-slider {padding: 8px;border: solid 1px #91D5FF;
    @include linear-gradient-h(#E6F7FF,#91D5FF);
  }
  .slideunlock-label {color: white;display: flex;align-items: center;justify-content: center;min-width: 80px;
    @include border-radius(0);
    @include linear-gradient-h(#1890FF,#91D5FF);
  }
  .slideunlock-lable-tip {color: #1890FF}
}
*/
.form_slide_unlock #slide_unlock {
  height: 32px;
  line-height: 32px;
  border: solid 1px #91D5FF;
  color: #1890FF;
  background-color: #91D5FF;
  background-image: -webkit-linear-gradient(left, #91D5FF, #E6F7FF);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #91D5FF, #E6F7FF);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.form_slide_unlock #slide_unlock .drag {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80px;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: #1890FF;
  background-image: -webkit-linear-gradient(left, #1890FF, #91D5FF);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: linear-gradient(to right, #1890FF, #91D5FF);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  -webkit-box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
  -moz-box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
  box-shadow: 0 8px 16px rgba(24, 144, 255, 0.32);
}

.form_slide_unlock #slide_unlock .progressBar {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

#page_sso_login {
  background: white;
  height: 100vh;
}

#page_sso_login .main_body {
  height: 100%;
  position: relative;
}

#page_sso_login .main_body::after, #page_sso_login .main_body::before {
  content: '';
  background: #F7A23B;
  display: block;
  position: absolute;
}

#page_sso_login .main_body::before {
  width: 160px;
  height: 160px;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 0 100% 0 0;
  border-radius: 0 100% 0 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

#page_sso_login .main_body::after {
  width: 600px;
  height: 600px;
  right: 0;
  top: 0;
  display: none;
  -webkit-border-radius: 0 0 0 100%;
  border-radius: 0 0 0 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

#page_sso_login .main_body .container {
  height: 100%;
  position: relative;
}

.sso_login__container {
  flex: 1;
  position: relative;
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.sso_login__form {
  background: white;
  padding: 15px;
  min-height: 620px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.sso_login__header {
  margin: 30px 0;
}

.sso_login__logo {
  margin: 0;
}

.sso_login__logo a {
  font-size: 0;
  display: inline-block;
}

.sso_login__logo a img {
  height: 50px;
}

.sso_login__body {
  position: relative;
}

.sso_login__colleft {
  display: none;
}

.sso_login__colright {
  margin: 0 auto;
}

.sso_frm__title {
  margin: 0 0 30px;
  font-size: 20px;
}

.sso_frm__field {
  position: relative;
  padding: 10px 0 10px 60px;
  margin-bottom: 20px;
  border: 2px solid #D9D9D9;
  min-height: 64px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.sso_frm__field svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.sso_frm__input {
  font-family: inherit;
  width: 100%;
  outline: 0;
  font-size: 16px;
  color: #262626;
  padding: 0;
  background: transparent;
  border: none;
  margin-bottom: -15px;
  transition: border-color 0.2s;
}

.sso_frm__input::placeholder {
  color: transparent;
}

.sso_frm__input:placeholder-shown ~ .sso_frm__label {
  cursor: text;
  top: 22px;
  font-size: 14px;
}

.sso_frm__label {
  position: absolute;
  top: 8px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #8C8C8C;
}

.sso_frm__input:focus {
  /*  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;*/
}

.sso_frm__input:focus ~ .sso_frm__label {
  position: absolute;
  top: 8px;
  display: block;
  color: #262626;
  font-size: 12px;
  transition: .2s;
}

.sso_frm__submit {
  background: #F7A23B;
  border: none;
  font-size: 16px;
  color: white;
  display: block;
  width: 100%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sso_frm__submit:hover {
  background: #f58b0a;
}

.sso_frm__break {
  position: relative;
  text-align: center;
  margin: 0 0 20px;
}

.sso_frm__break::before {
  content: '';
  background: #D9D9D9;
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
}

.sso_frm__break span {
  background: white;
  display: inline-block;
  padding: 5px 10px;
  color: #8C8C8C;
  position: relative;
}

.sso_frm__login-other {
  margin: 0 0 30px;
  display: flex;
}

.sso_frm__login-other a {
  display: inline-block;
  color: white;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  min-width: 110px;
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.sso_frm__login-other a svg {
  width: 20px;
  height: 20px;
  vertical-align: -5px;
  margin: 0 5px 0 0;
}

.sso_frm__login-other a.google {
  background: #DD4B39;
  margin: 0 20px 0 0;
}

.sso_frm__login-other a.facebook {
  background: #3B5999;
}

.sso_frm__login-flag a {
  display: inline-block;
  font-size: 0;
}

.sso_frm__login-flag a + a {
  margin-left: 5px;
}

.sso_frm__login-flag a svg {
  width: 24px;
  height: 25px;
}

img.person {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 200px;
  z-index: 2;
  display: none;
}

@media (min-width: 768px) {
  img.person {
    display: block;
  }
  .sso_login__form {
    padding: 50px;
  }
  .sso_login__header {
    margin: 30px 0 80px;
  }
  .sso_login__container {
    height: 100%;
  }
  .sso_frm__login-other a {
    width: auto;
  }
}

@media (min-width: 992px) {
  .main_body::after {
    content: '';
    display: block !important;
  }
  .sso_login__colleft {
    display: block;
  }
}

body {
  background-color: #F5F5F5;
  font-family: "Roboto", sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
