<footer class="footer">
    <div class="footer_box">
        <div class="footer_box__title">Bạn vẫn cần trợ giúp?</div>
        <p class="footer_box__summary">
            Nếu nhưng câu trả lời của chúng tôi chưa làm bạn thỏa mãn. <br/>
            Hãy liên hệ trực tiếp tới <strong>Hotline: 1900 988 950</strong> để được hỗ trợ nhanh nhật. <br/>
            Chúng tôi luôn ở đây hỗ trợ bạn (từ Thứ hai - Chủ nhật: 8:00 - 22:00)
        </p>
        <div class="footer_box__button">
            <a href="#" class="button_primary button_regular button_icon_left">
                <svg><use xlink:href="/image/sprite.svg#message"></use></svg> Trò chuyện với iChiba
            </a>
        </div>
        <div class="footer_box__bottom">
            Bạn muốn hỏi câu hỏi khác? <a href="#" class="color_orange">Gửi câu hỏi</a>
        </div>
    </div>
</footer>