{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{% block pageTitle %}{{ slogan }}{% endblock %}</title>
    <meta name=description content="{{slogan}}"/>
    <meta name=keywords content="{{slogan}}"/>
    <meta name=title content="{{slogan}}"/>
    <meta itemprop=keywords name=news_keywords content="{{slogan}}"/>

    <meta name=viewport content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name=author content="{{slogan}}"/>
    <meta name=article:author content="{{slogan}}"/>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8"/>

    <meta itemprop=description property=og:description content="{{slogan}}"/>
    <meta property=og:site_name content="{{slogan}}"/>
    <meta property=og:locale content=vi_VN/>
    <meta property=og:type content=article/>
    <meta property=og:url content=""/>
    <meta property=og:title content="{{slogan}}"/>
    <meta property=fb:app_id content=1948000195514715/>
    <meta property=og:image content=""/>
    <meta itemprop=image content=""/>
    <meta itemprop=datePublished content="Thu, 14-03-2020 17:26:13"/>

    <meta name=robots content="index,follow"/>
    <link rel=canonical href=""/>
    <meta name=googlebot content="noodp,index,follow"/>
    <meta name=robots content="index,follow"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/swipe/css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/slide-unlock/css/slideToUnlock.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/main.css"/>
</head>
<body>
    <div id="main" class="">
        {% block page %}
            {% set slogan = 'Ichiba - Buy from jap  an for you.' %}
        {% endblock %}
    </div>

    <!-- JS -->
    <script src="../../lib/jquery/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="../../lib/swipe/js/swiper.min.js" type="text/javascript"></script>
    <script src="../../lib/slide-unlock/js/jquery.slideToUnlock.js" type="text/javascript"></script>
    <script src="../../js/main.js" type="text/javascript"></script>
</body>
</html>