<aside class="sidebar">
    <div class="sidebar_box">
        <div class="sidebar_box__header">
            <h3 class="sidebar_box__title">Dịch vụ mua hộ hàng Nhật</h3>
            <div class="sidebar_box__body">
                <ul class="sidebar_lst">
                    {% for i in 0..4 %}
                        <li class="sidebar_lst__item">
                            <a href="#" title="">Làm thế nào để gửi yêu cầu đổi/ trả/ bảo hành sản phẩm trên iChiba?</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</aside>