//Input text
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {outline: none;}

textarea {width: 100%;}
input[type="checkbox"]{margin-right: 5px;vertical-align: middle}

%input-text ,
%reset-input {}

.option_style {font-size: 0;margin: 0 8px 0 0;display: inline-block;
  .option_style_label {background: white;color: $color-text-input;display: block;text-align: center;outline: none;padding: 5px 15px;overflow: hidden;border: solid 1px $color-text-input;cursor: pointer;font-size: $font-size-xs;
    @include border-radius(4px);
    @include transition(all .3s ease);
  }
  &:last-child {margin: 0}
  .option_style_input {opacity: 0;visibility: hidden;display: none}
  //Action
  .option_style_input:checked + .option_style_label {border-color: $color-orange;color: $color-orange}
  .option_style_input:focus + .option_style_label {border-color: $color-orange;color: $color-orange}
  .option_style_input:active + .option_style_label {border-color: $color-orange;color: $color-orange}
}

.checkbox_style {cursor: pointer;font-size: $font-size-xs;
  input {position: absolute;opacity: 0;cursor: pointer;
    &:checked {border: none}
    &:checked + span {background: $color-orange-secondary;
      svg {display: block}
    }
  }
  span {background: white;display: inline-block;border: solid 1px $color-black-01;margin: 0 5px 0 0;text-align: center;padding: 3px;
    @include border-radius(3px);
    svg {width: 100%;height: 100%;color: white;display: none}
  }
  span,input {width: 20px;height: 20px;vertical-align: -6px;}
  &.small {
    span,
    input {width: 20px;height: 20px;vertical-align: -6px;}
  }
  &.medium {
    span,
    input {width: 24px;height: 24px;vertical-align: -8px}
  }
  &.right {
    span {margin: 0 0 0 5px}
  }
}

.select_wrap{border: solid 1px $color-border-input;position: relative;overflow: hidden;height: 32px;color: $color-text-input;
  svg {width: 15px;height: 8px;position: absolute;right: 8px;top: 50%;
      @include translate(0,-50%);
  }
  &:hover {border-color: $color-orange;
    &::after {border-top-color: $color-orange}
  }


  select.select_common {background: white;display: block;border: none;padding: 0 25px 0 10px;cursor: pointer;width: 100%;height: 100%;color: $color-text-input;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/
    appearance: none;
    @include border-radius(0);
    &:focus {cursor: pointer;outline: none;}
  }

  &.medium {height: 34px;font-size: $font-size-m;}
}

.fieldset_common {border: none;margin: 0;padding: 0}

.input_common {background: white;font-weight: $font-light;min-height: 32px;border: solid 1px $color-border-input;outline: none;padding: 5px 10px;box-shadow: none;color: $color-text-input;font-size: $font-size-s;
  @include transition(all .3s ease);

  &:focus {box-shadow: none;border-color: $color-orange;
    &::placeholder {color: #8C8C8C}
  }
  &::placeholder {color: #8C8C8C}

  &.input_common--small {}
  &.input_common--large {}

  &.input_common--full {display: block;width: 100%}
}
