.form_common {display: block;width: 100%;
  .form_row {margin-bottom: 20px;
    &.form_error {
      .form_error_text {color: $color-red;font-size: $font-size-tiny;font-style: italic}
    }
  }
  .form_field {}
  .form_field__group {position: relative;
    > input {padding-right: 32px}
    .form_field__icon {display: inline-block;padding: 8px;font-size: 0;position: absolute;height: 100%;right: 0;top: 0;width: 32px;color: $color-border;
      svg {width: 100%;height: 100%;}
    }
  }

  .form_label {margin-bottom: 8px;display: inline-block;
    .require {color: $color-red}
  }
  .form_textarea {resize: none;border: solid 1px $color-border-input;padding: 5px 10px;box-shadow: none;color: $color-text-input;
    @include border-radius(4px);
  }
}

.form_break_text {padding: 5px 0;position: relative;text-align: center;margin: 0 0 15px;
  &::before {content: '';background: $color-border;display: block;width: 100%;height: 1px;position: absolute;top: 50%;
    @include translate(0,-50%);
  }
  span {background: white;font-size: $font-size-xs;display: inline-block;padding: 5px 20px;position: relative;color: $color-text-secondary}
}