#page_sso_login {background: white;height: 100vh;
  .main_body {height: 100%;position: relative;
    &::after,
    &::before {content: '';background: $color-orange;display: block;position: absolute;}
    &::before {width: 160px;height: 160px;left: 0;bottom: 0;
      @include border-radius(0 100% 0 0);
    }
    &::after {width: 600px;height: 600px;right: 0;top: 0;display: none;
      @include border-radius(0 0 0 100%);
    }
    .container {height: 100%;position: relative}
  }
}
.sso_login__container {flex: 1;position: relative;display: flex;height: auto;flex-direction: column;justify-content: center;z-index: 1}
.sso_login__form {background: white;padding: 15px;min-height: 620px;
  @include border-radius(16px);
  @include box-shadow(0,8px,16px,rgba(black,.08))
}
.sso_login__header {margin: 30px 0}

.sso_login__logo {margin: 0;
  a {font-size: 0;display: inline-block;
    img {height: 50px}
  }
}
.sso_login__body {position: relative;}
.sso_login__colleft {display: none}
.sso_login__colright {margin: 0 auto}
.sso_frm__title {margin: 0 0 30px;font-size: $font-size-b}
.sso_frm__field {position: relative;padding: 10px 0 10px 60px;margin-bottom: 20px;border: 2px solid $color-border;min-height: 64px;display: flex;align-items: center;
  @include border-radius(2px);
  svg {width: 24px;height: 24px;position: absolute;left: 18px;top: 18px}
}
.sso_frm__input {font-family: inherit;width: 100%;outline: 0;font-size: $font-size-m;color: $color-text;padding: 0;background: transparent;border: none;margin-bottom: -15px;
  transition: border-color 0.2s;
  &::placeholder {color: transparent;}
  &:placeholder-shown ~ .sso_frm__label {cursor: text;top: 22px;font-size: $font-size-s}
}

.sso_frm__label {position: absolute;top: 8px;display: block;transition: 0.2s;font-size: $font-size-xs;color: $color-text-secondary;}

.sso_frm__input:focus {
  ~ .sso_frm__label {position: absolute;top: 8px;display: block;color: $color-text;font-size: $font-size-xs;transition: .2s;}
/*  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;*/
}

.sso_frm__submit {background: $color-orange;border: none;font-size: $font-size-m;color: white;display: block;width: 100%;height: 48px;text-align: center;line-height: 48px;cursor: pointer;
  @include border-radius(2px);
  @include transition(all .3s ease);
  &:hover {background: darken($color-orange,10%)}
}

.sso_frm__break {position: relative;text-align: center;margin: 0 0 20px;
  &::before {content: '';background: $color-border;display: block;width: 100%;height: 1px;position: absolute;left: 0;top: 50%;}
  span {background: white;display: inline-block;padding: 5px 10px;color: $color-text-secondary;position: relative;}
}

.sso_frm__login-other {margin: 0 0 30px;display: flex;
  a {display: inline-block;color: white;height: 40px;line-height: 40px;padding: 0 10px;min-width: 110px;width: 100%;
    @include border-radius(2px);
    svg {width: 20px;height: 20px;vertical-align: -5px;margin: 0 5px 0 0}
    &.google {background: #DD4B39;margin: 0 20px 0 0}
    &.facebook {background: #3B5999}
  }
}
.sso_frm__login-flag {
  a {display: inline-block;font-size: 0;
    + a {margin-left: 5px}
    svg {width: 24px;height: 25px}
  }
}

img.person {position: absolute;bottom: 0;right: -50px;width: 200px;z-index: 2;display: none}

@media (min-width: $bp-md) {
  img.person {display: block}
  .sso_login__form {padding: 50px}
  .sso_login__header {margin: 30px 0 80px}
  .sso_login__container {height: 100%}
  .sso_frm__login-other {
    a {width: auto}
  }
}

@media (min-width: $bp-l) {
  .main_body {
    &::after {content: '';display: block !important;}
  }
  .sso_login__colleft {display: block}

}
@media (min-width: $bp-xl) {

}