#page_sign_up {}
.signup_container {max-width: 860px;margin: 0 auto;display: flex;align-items: center;padding: 30px 0;
  @media (min-width: $bp-md) {
    height: 100vh;
  }
}
.signup_row {background: white;display: flex;flex-direction: column;width: 100%;overflow: hidden;
  @include box-shadow(8px,0,16px,$color-black-004);
  @include border-radius(16px);
}

//Sign up section
.signup_section {padding: 15px 15px 0 15px;
  @media (min-width: $bp-md) {
    padding: 50px;
  }
}

.signup_form {margin: 40px 0 0;
  .form_break_text {padding: 5px 0;position: relative;text-align: center;margin: 0 0 15px;
    &::before {content: '';background: $color-border;display: block;width: 100%;height: 1px;position: absolute;top: 50%;
      @include translate(0,-50%);
    }
    span {background: white;font-size: $font-size-xs;display: inline-block;padding: 5px 20px;position: relative;color: $color-text-secondary}
  }
}
/*
.form_slide_unlock {
  .slideunlock-wrapper {background: transparent;padding: 0;width: 100%;}
  .slideunlock-slider {padding: 8px;border: solid 1px #91D5FF;
    @include linear-gradient-h(#E6F7FF,#91D5FF);
  }
  .slideunlock-label {color: white;display: flex;align-items: center;justify-content: center;min-width: 80px;
    @include border-radius(0);
    @include linear-gradient-h(#1890FF,#91D5FF);
  }
  .slideunlock-lable-tip {color: #1890FF}
}
*/

.form_slide_unlock {
  #slide_unlock {height: 32px;line-height: 32px;border: solid 1px #91D5FF;color: #1890FF;
    @include linear-gradient-h(#91D5FF,#E6F7FF);
    @include border-radius(0);
    .drag {color: white;display: flex;align-items: center;justify-content: center;height: 100%;width: 80px;border: none;
      @include border-radius(0);
      @include linear-gradient-h(#1890FF,#91D5FF);
      @include box-shadow(0,8px,16px,rgba(#1890FF,.32));
    }
    .progressBar {
      @include border-radius(0);
    }
  }
}
