{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ichiba | SSO Login {% endblock %}
{% block page %}
    <div id="page_sso_login" class="page_main">
        <div class="main_body">
            <div class="container">
                <img src="../../image/sso-person.png" class="person" alt=""/>
                <div class="sso_login__container">
                    <div class="sso_login__header">
                        <h1 class="sso_login__logo">
                            <a href="#"><img src="../../image/logo.svg" alt=""/></a>
                        </h1>
                    </div>
                    <div class="sso_login__body">
                        <div class="row">
                            <div class="col-lg-7 sso_login__colleft">
                                <img src="../../image/bg-sso.png" alt=""/>
                            </div>
                            <div class="col-lg-5 sso_login__colright">
                                <div class="sso_login__form">
                                    <form action="" class="sso_frm">
                                        <h2 class="sso_frm__title">Đăng Nhập</h2>
                                        <div class="sso_frm__row">
                                            <div class="sso_frm__field">
                                                <svg><use xlink:href="/image/sprite.svg#email"></use></svg>
                                                <input type="text" class="sso_frm__input" placeholder="Email/Số điện thoại" name="name" id="name" />
                                                <label for="name" class="sso_frm__label">Email/Số điện thoại</label>
                                            </div>
                                        </div>
                                        <div class="sso_frm__row">
                                            <div class="sso_frm__field">
                                                <svg><use xlink:href="/image/sprite.svg#clock"></use></svg>
                                                <input type="password" class="sso_frm__input" placeholder="Nhập mật khẩu của bạn..." name="password" id="password" />
                                                <label for="password" class="sso_frm__label">Mật khẩu</label>
                                            </div>
                                        </div>
                                        <div class="sso_frm__row mb40">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="checkbox_style small" for="checkbox11">
                                                        <input type="checkbox" id="checkbox11"/>
                                                        <span>
                                                            <svg><use xlink:href="/image/sprite.svg#check"></use></svg>
                                                        </span>
                                                        Ghi nhớ tài khoản
                                                    </label>
                                                </div>
                                                <div class="col-6 text_right">
                                                    <a href="#" class="color_orange">Quên mật khẩu</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb20">
                                            <button class="sso_frm__submit">Đăng nhập</button>
                                        </div>
                                        <div class="sso_frm__break"><span>Hoặc</span></div>
                                        <div class="sso_frm__login-other">
                                            <a href="javascript:void(0)" class="google">
                                                <svg><use xlink:href="/image/sprite.svg#google"></use></svg> Google
                                            </a>
                                            <a href="javascript:void(0)" class="facebook">
                                                <svg><use xlink:href="/image/sprite.svg#facebook"></use></svg> Facebook
                                            </a>
                                        </div>
                                        <div class="sso_frm__login-flag">
                                            <div class="font_size_14"><strong class="fw_medium">Ngôn ngữ:</strong></div>
                                            <a href="#" class=""><svg><use xlink:href="/image/sprite.svg#flag-vn"></use></svg></a>
                                            <a href="#" class=""><svg><use xlink:href="/image/sprite.svg#flag-jp"></use></svg></a>
                                            <a href="#" class=""><svg><use xlink:href="/image/sprite.svg#flag-uk"></use></svg></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}