{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ichiba | Login {% endblock %}
{% block page %}
    <div id="page_login" class="page_main">
        <div class="main_body">
            <div class="container main_container">
                <div class="login_container">
                    <div class="login_row">
                        <div class="login_col__left">
                            {% include '../components/login-slide.twig' %}
                        </div>
                        <div class="login_col__right">
                            {% include '../components/login-form.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}