{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ichiba | Login {% endblock %}
{% block page %}
    <div id="page_login" class="page_main">
        <div class="main_body">
            <div class="container main_container">
                <div class="login_container">
                    <div class="login_row">
                        <div class="login_col__left">
                            {% include '../components/login-slide.twig' %}
                        </div>
                        <div class="login_col__right">
                            <div class="login_panel">
                                <h1 class="login_logo">
                                    <a href="/" title="Ichiba">
                                        <img src="../../image/logo.svg" alt=""/>
                                    </a>
                                </h1>
                                <div class="login_panel__group">
                                    <a href="#" class="login_panel__item">
                                        <span class="login_panel__icon">
                                            <svg><use xlink:href="/image/sprite.svg#cart-ichiba-1"></use></svg>
                                        </span>
                                        <span>Vận chuyển hàng <br/> Nhật - Việt</span>
                                    </a>
                                    <a href="#" class="login_panel__item">
                                        <span class="login_panel__icon">
                                            <svg><use xlink:href="/image/sprite.svg#cart-ichiba-2"></use></svg>
                                        </span>
                                        <span>Mua sắm cùng <br/> iChiba</span>
                                    </a>
                                </div>
                                <div class="form_break_text">
                                    <span>Ngôn ngữ</span>
                                </div>
                                <div class="language_group">
                                    <a href="#" class="language_item language_item__vn">
                                        <svg><use xlink:href="/image/sprite.svg#flag-vn"></use></svg>
                                        Tiếng việt
                                    </a>
                                    <a href="#" class="language_item language_item__uk">
                                        <svg><use xlink:href="/image/sprite.svg#flag-uk"></use></svg>
                                        English
                                    </a>
                                    <a href="#" class="language_item language_item__jp">
                                        <svg><use xlink:href="/image/sprite.svg#flag-jp"></use></svg>
                                        Japanese
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}