{% extends "../layout/layout.twig" %}
{% block pageTitle %} Ichiba | SSO Forgot password {% endblock %}
{% block page %}
    <div id="page_sso_login" class="page_main">
        <div class="main_body">
            <div class="container">
                <img src="../../image/sso-person.png" class="person" alt=""/>
                <div class="sso_login__container">
                    <div class="sso_login__header">
                        <h1 class="sso_login__logo">
                            <a href="#"><img src="../../image/logo.svg" alt=""/></a>
                        </h1>
                    </div>
                    <div class="sso_login__body">
                        <div class="row">
                            <div class="col-lg-7 sso_login__colleft">
                                <img src="../../image/bg-sso.png" alt=""/>
                            </div>
                            <div class="col-lg-5 sso_login__colright">
                                <div class="sso_login__form">
                                    <form action="" class="sso_frm">
                                        <h2 class="sso_frm__title">Quên mật khẩu</h2>
                                        <div class="mb10">
                                            Đã nhớ lại mật khẩu? <a href="#" class="color_orange">Đăng nhập?</a>
                                        </div>
                                        <div class="sso_frm__row">
                                            <div class="sso_frm__field">
                                                <svg><use xlink:href="/image/sprite.svg#email"></use></svg>
                                                <input type="text" class="sso_frm__input" placeholder="Email/Số điện thoại" name="name" id="name" />
                                                <label for="name" class="sso_frm__label">Email/Số điện thoại</label>
                                            </div>
                                        </div>

                                        <div class="mt50">
                                            <button class="sso_frm__submit">Gửi mã xác thực</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}