//Color
$color-base: white;
$color-bg: #F5F5F5;
$color-bg-secondary: #E6F7FF;
$color-bg-third: #FAFAFA;
$color-bg-fourthy: #F9F9F9;
$color-bg-banner: #F8FDFF;

$color-link: #0377AE;
$color-link-secondary: #007093;
$color-link-thirdty: #015F7C;
$color-facebook: #4E71A8;
$color-heart: #EF5248;

$color-title: #292929;

$color-text: #262626;
$color-text-secondary: #8C8C8C;
$color-text-third: #808285;

$color-disable: #E6E6E6;

$color-border: #D9D9D9;
$color-border-input: #D9D9D9;
$color-text-input: #808080;

$color-gray: #E6E6E6;
$color-gray-secondary: #ccc;
$color-gray-thirdty: #b3b3b3;

$color-orange: #F7A23B;
$color-orange-secondary: #F7A23B;
$color-orange-third: #F7A23B;

$color-red: #F44336;
$color-red-secondary: #BF2228;
$color-red-thirdty: #AF282A;

$color-blue: #1890FF;
$color-blue-secondary: #91D5FF;

$color-green: #7EC362;
$color-green-secondary: #9DC974;
$color-facebook: #3B5998;

$color-yahoo-auction: #f9dd44;
$color-yahoo-shopping: #ec1e3c;
$color-heart: #ec1e3c;
$color-amazon: #f89521;
$color-rakuten: #bf2528;
$color-purple: #3F51B5;

$color-black-01: rgba(black,.1);
$color-black-015: rgba(black,.15);
$color-black-03: rgba(black,.3);
$color-black-06: rgba(black,.6);
$color-black-004: rgba(black,.04);

$color-white-01: rgba(white,.1);
$color-white-015: rgba(white,.15);
$color-white-06: rgba(white,.6);
$color-white-08: rgba(white,.8);

//Fonts-size
$font-size-tiny: 10px;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-b: 20px;
$font-size-bb: 36px;

//Url base
//url(#{$url-img}/site/background.jpg)
$url-img: "../images";

//Breakpoint
$bp-xs: 425px;
$bp-s: 576px;
$bp-mobile: 576px;

$bp-md: 768px;
$bp-tablet: 768px;
$bp-l: 992px;
$bp-laptop: 992px;
$bp-xl: 1200px;